@media only screen and (max-width: $breakpoint-mobile) {

/* make header scroll up for single shares, more view of content on small screens */
#header.share-file {
	position: absolute !important;
}
	/* hide text of download button, only show icon */
	#download-text {
		display: none;
	}

/* hide size and date columns */
table th#headerSize,
table td.filesize,
table th#headerDate,
table td.date {
	display: none;
}

/* restrict length of displayed filename to prevent overflow */
table td.filename .nametext {
	max-width: 75% !important;
}

/* on mobile, show single shared image at full width without margin */
#imgframe {
	width: 100%;
	padding: 0;
	margin-bottom: 35px;
}
/* some margin for the file type icon */
#imgframe .publicpreview {
	margin-top: 32px;
}

/* some padding for better clickability */
#fileList a.action img {
	padding: 0 6px 0 12px;
}
/* hide text of the actions on mobile */
#fileList a.action:not(.menuitem) span {
	display: none;
}

/* ellipsis on file names */
.nametext {
	width: 60%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.note {
	padding: 0 20px;
}

#emptycontent {
	margin-top: 10vh;
}
}
